.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}



.swiperSlide {}

.sliderInner {
    opacity: 1;
    transition: all .6s ease-in-out;
}

.leftMember {
    position: absolute;
    width: calc(50vw + 580px);
    left: -50vw;
    top: 50%;
    transform: translateY(-15.5rem);
    pointer-events: none;

    @media screen and (max-width:1440px) {
        width: calc(50vw + 380px);
        transform: translateY(-13.5rem);
    }

    @media screen and (max-width:990px) {
        width: calc(50vw + 320px);
        transform: translateY(-9.5rem);
    }


    @media screen and (max-width:767px) {
        width: calc(50vw + 220px);
        transform: translateY(-6rem);
    }

    @media screen and (max-width:576px) {
        transform: translateY(-4.5rem);
    }

    @media screen and (max-width:460px) {
        width: calc(50vw + 160px);
        transform: translateY(-4rem);
    }


    .member {
        text-align: right;
        margin-right: 6rem;

        @media screen and (max-width:990px) {
            transform: translateX(2rem);
        }
    }

    .sliderInner {
        position: relative;
        margin-right: 4rem;

        &:after {
            content: '';
            position: absolute;
            right: .7rem;
            top: 0;
            bottom: 0;
            width: 10rem;
            height: 100%;
            transform: skewX(-30deg);
            background-color: #ffffff;
            border-radius: 1rem;
            z-index: -1;

            @media screen and (max-width:1440px) {
                right: .5rem;
            }

            @media screen and (max-width:576px) {
                border-radius: .3rem;
            }
        }
    }
}

.rightMember {
    position: absolute;
    width: calc(50vw + 580px);
    right: -50vw;
    top: 50%;
    transform: translateY(0.5rem);
    pointer-events: none;

    @media screen and (max-width:1440px) {
        width: calc(50vw + 380px);
        transform: translateY(0rem);
    }

    @media screen and (max-width:990px) {
        width: calc(50vw + 320px);
        transform: translateY(0rem);
    }


    @media screen and (max-width:767px) {
        width: calc(50vw + 220px);
        transform: translateY(.2rem);
    }

    @media screen and (max-width:576px) {
        width: calc(50vw + 220px);
        transform: translateY(0);
    }

    @media screen and (max-width:460px) {
        width: calc(50vw + 160px);
        transform: translateY(.7rem);
    }

    .member {
        margin-left: 6rem;

        @media screen and (max-width:990px) {
            transform: translateX(-2rem);
        }
    }

    .sliderInner {
        position: relative;
        margin-left: 4rem;

        &:after {
            content: '';
            position: absolute;
            left: .7rem;
            top: 0;
            bottom: 0;
            width: 10rem;
            height: 100%;
            transform: skewX(-30deg);
            background-color: #ffffff;
            border-radius: 1rem;
            z-index: -1;

            @media screen and (max-width:1440px) {
                left: .5rem;
            }

            @media screen and (max-width:576px) {
                border-radius: .3rem;
            }

        }
    }

    .sliderInnerUnvisible {
        opacity: 0;
        transform: translateX(20rem);
        transition: all .6s ease-in-out;
    }
}

.member {
    font-size: 3.4rem;
    padding: 5.5rem;
    background-color: #ffffff;
    overflow: hidden;

    @media screen and (max-width:1440px) {
        padding: 4.5rem 5.5rem;

    }

    @media screen and (max-width:990px) {
        padding: 2.8rem 0rem;

        z-index: 2;
    }

    @media screen and (max-width:787px) {
        font-size: 2.4rem;
        padding: 1.8rem 2rem;
    }

    @media screen and (max-width:787px) {
        font-size: 1.6rem;
        padding: 1.7rem 1rem;
    }

    @media screen and (max-width:576px) {
        font-size: 1.2rem;
        padding: 1.7rem 1rem;
    }

    @media screen and (max-width:460px) {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}

.sliderInnerUnvisible {
    opacity: 0;
    transform: translateX(-20rem);
    transition: all .6s ease-in-out;
}